

.nav{
    background-image: url(./img/pattern.png);
    background-color: rgb(65, 139, 255);
}

.logo{
    height: 65px;
    width: 200px;
}

#span{
    color:rgb(57, 162, 226);
}


.table {
    
    text-decoration: none;
    width: 100%;
    
  }
  #colonna{
    background-color:rgb(32, 151, 223);
    color: #fff;
    height:15px;
  }

  tr:nth-child(even) {
    background-color: rgb(162, 220, 238);
  }
  
  #interesse{
    color: rgb(109, 109, 109);

  }